{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/article.css">
{% endblock css %}

{% block meta %}
<meta property="og:title" content="{% block meta_title %} {{ page.title }}{% endblock %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{% block meta_url %}https://cosenzaciclabile.github.io/{{page.slug}}{% endblock %}" />
<meta property="og:image" content="{% block meta_image %}{{ page.image }}{% endblock %}" />

<meta name="twitter:title" content="{% block twitter_title %}{{ page.title}}{% endblock %} ">
<meta name="twitter:description" content="{% block twitter_description %}{{ page.summary|striptags }}{% endblock %}">
<meta name="twitter:image" content="{{ page.image }}">
<meta name="twitter:card" content="{{ page.image }}">

<meta name="description" content="{% block description %}{{ page.description }}{% endblock %}">
<meta name="author" content="{{ page.author }}">

{% endblock  %}

{% block content %}
<section class="article main bgwhite">
    <div class="container bgwhite">
        <article class="row">
            <div class="col-lg-9">
                <h1 class="title_welcome">{{ page.title }}</h1>
                {{ page.content }}         
                <img src="{{ pages.image }}">   
            </div>
            <div class="col-lg-3">
                {% include 'includes/latest_posts.html' %}
            </div>
     
        </article>   
    </div>
    
</section>
{% endblock content %}